<% include ../partials/header %>

<h1>Editar el evento: <%=evento.incidente%></h1>

<div class="jumbotron">
        <form class="ui form" action="/evento/<%=evento._id%>/edit?_method=PUT" method="POST">
            <div class="three fields">
                <div class="field">
                    <label>Fecha</label>
                    <input type="text" name="data[fecha]" value="<%=evento.fecha%>">
                </div>
        
                <div class="field">
                    <label>Turno</label>
                    <select name="data[turno]" class="ui fluid dropdown">
                        <option value="Matutino">Matutino</option>
                        <option value="Vespertino">Vespertino</option>
                        <option value="Nocturno">Nocturno</option>
                    </select>
                </div>
        
                <div class="field">
                    <label>Folio</label>
                    <input type="text" name="data[folio]" value="<%=evento.folio%>">
                </div>
            </div>
        
            <div class="three fields">
                <div class="field">
                    <label>Fuente de reporte</label>
                    <input type="text" name="data[fuenteReporte]" value="<%=evento.fuenteReporte%>">
                </div>
        
                <div class="field">
                    <label>Hora de reporte</label>
                    <input type="text" name="data[horaReporte]" value="<%=evento.horaReporte%>">
                </div>
        
                <div class="field">
                    <label>Clave</label>
                    <select name="data[clave]">
                        <option value="N/A">N/A</option>
                        <option value="57">Sospechoso: 57</option>
                        <option value="21">Persona drogada: 21</option>
                        <option value="25">Persona ebria: 25</option>
                        <option value="59">Robo: 59</option>
                        <option value="60">Robo por asalto: 60</option>
                        <option value="61">Robo de auto: 61</option>
                        <option value="63">Lesionado: 63</option>
                        <option value="66">Ri침a: 66</option>
                        <option value="73">Practiva de manejo: 73</option>
                        <option value="K3">Atropellado: K3</option>
                        <option value="BETA_1">Accidente automovilistico: BETA_1</option>
                        <option value="BETA_2">Incendio forestal: BETA_2</option>
                        <option value="BETA_3">Incendio de inmueble: BETA_3</option>
                        <option value="K5">Choque: K5</option>
                        <option value="R7">Secuestro: R7</option>
                        <option value="65">Violaci칩n: 65</option>
                    </select>
                </div>
            </div>
        
            <div class="field">
                <label>Incidente</label>
                <input type="text" name="data[incidente]" value="<%=evento.incidente%>">
            </div>
        
            <div class="field">
                <label>Ubicaci칩n/Entidad</label>
                <div class="fields">
                    <div class="twelve wide field">
                    <input type="text" name="data[entidad]" value="<%=evento.ubicacionEntidad%>">
                    </div>
                    <div class="four wide field">
                    <select name="data[zona]">
                        <option value="">Zona</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="SS1">SS1</option>
                        <option value="SS2">SS2</option>
                        <option value="SS3">SS1</option>
                        <option value="SS4">SS4</option>
                    </select>
                    </div>
                </div>
            </div>
        
            <div class="three fields">
                <div class="field">
                    <label>Torreta</label>
                    <input type="text" name="data[torreta]" value="<%=evento.torreta%>">
                </div>
                <div class="field">
                    <label>Hora de arribo:</label>
                    <input type="text" name="data[horaArribo]" value="<%=evento.horaArribo%>">
                </div>
        
                <div class="field">
                    <label>Hora de retiro:</label>
                    <input type="text" name="data[horaRetiro]" value="<%=evento.horaRetiro%>">
                </div>
            </div>
        
            <div class="two fields">
                <div class="field">
                    <label>Alamo</label>
                    <input type="text" name="data[alamo]" value="<%=evento.alamo%>">
                </div>
        
                <div class="field">
                    <label>Otros</label>
                    <input type="text" name="data[otros]" value="<%=evento.otros%>">
                </div>
                
            </div>
        
            <div class="field">
                <label>Captaci칩n del incidente</label>
                <input type="text" name="data[camaras]" value="<%=evento.camaras%>">
            </div>
        
            <div class="field">
                <label>Observaciones</label>
                <textarea name="data[observaciones]"><%=evento.observaciones%></textarea>
            </div>
            <button class="uk-button uk-button-primary">Editar</button>
        </form>
 </div>

<% include ../partials/footer %>